<div class="container margem">
  <h1>
    MASTER / DETAIL
  </h1>

  <div class="row">

    <!-- incluindo evento click na lista -->
    <div class="col-md-6">
      <ul class="list-group">
        <li *ngFor="let item of listaCursos" (click)="selecionar(item)" class="list-group-item">
          <span [class.selecionado]="item === cursoSelecionado" class="badge">{{item.codigo}}</span>
          <a routerLink="/masterdetail">{{item.descricao}}</a>
        </li>
      </ul>

      <button type="button" (click)="novo()" class="btn btn-info">
        Novo
      </button>
    </div>

    <!-- inclindo o formulário -->
    <div *ngIf="cursoSelecionado" class="col-md-6">
    <!-- <div> -->


        <div class="form-row">

            <div class="form-group col-md-6">
              <label for="codigo">Código:</label>
              <input type="text" [(ngModel)]="cursoSelecionado.codigo" class="form-control" value="{{curso.codigo}}"
                id="codigo" name="codigo">
            </div>
            <div class="form-group col-md-6">
              <label for="descricao">Descrição:</label>
              <input type="text" [(ngModel)]="cursoSelecionado.descricao" class="form-control" value="{{curso.descricao}}"
                id="descricao" name="descricao">
            </div>
            <div class="form-group col-md-6">
              <label for="ch">Carga Horária:</label>
              <input type="text" [(ngModel)]="cursoSelecionado.ch" class="form-control" value="{{curso.ch}}" id="ch"
                name="ch">
            </div>
            <div class="form-group col-md-6">
              <button type="submit" (click)="incluir(cursoSelecionado)" class="btn btn-info">
                <span class="glypicon glyphicon-pencil">Incluir</span>
              </button>
            </div>
    
        </div>

    </div>

  </div>

</div>